body {
    background: linear-gradient(to right, rgba(242, 247, 107, 0.5), rgba(104, 229, 246, 0.5));
    color: #1a1b1f;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    display: flex;
  }

.container {
    margin-top: 20px;
}

button {
      background-color:aliceblue;
      padding: 4px;
      border-style: solid;
      border-color: rgb(40, 64, 242);
      border-width: 2px;
      font-family: Montserrat, sans-serif;
}

