HELP.md
!**/src/test/**/target/
/target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Dataset ###
fruits
models

### Svelte-Stuff
*/.DS_Store
*/node_modules
*/build
*/.svelte-kit
*/package
*/.env
*/.env.*
*/!.env.example
*/.vercel
*/.output
*/vite.config.js.timestamp-*
*/vite.config.ts.timestamp-*

### Credentials ###
application.properties

### Test ###
*/test/*

### Mac-Shit ###
.DS*